.table {
  border: 0;
  border-collapse: collapse;
  width: 100%;
}

.table-cell, .sorting .table-cell {
  text-align: left;
  padding: 1.6em;
  vertical-align: top;
  border: inherit;
  cursor: default;
}

.table-head-row {
  border-bottom: 1px solid #e1e1e1;
}

.table-heading {
  font-weight: bolder;
  color: #3f3f3f;
  vertical-align: bottom;
}

.table-row {
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.table-row:hover {
  background-color: #e7e7e7;
}

.sorting {
  background-color: #e0d3d3;
  width: 100%;
  display: table;
}

.sorting .table-cell {
  display: table-cell;
}

.row-actions {
  visibility: hidden;
}

.table-row:hover .row-actions {
  visibility: visible;
}

.row-actions .menu-button {
  padding-left: 1em;
}
